:root{
    --border:#f1f5f9;
    --purple:#8576FF;
    --lightpurple:#e2e8f0;
    --gray:#f2f2f7;
    --green:#10B981;
    --darkgrey:#64748B;
    --darkgrey1:#334155;
    --red:#F43F5E;
    --border2:#f0f0f0;

}
a{
    text-decoration: none;
    color: inherit;
}
img{
    width: fit-content;
}
.red{
    color: var(--red);
}
.green{
    color: var(--green);
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    
    transition: background-color 0.3s, color 0.3s;
}

.container {
    display: grid;
   position: relative;
   grid-template-columns: 20% auto;
}
.small{
    grid-template-columns: 8% auto ;
}

.sidebar {
   
    overflow-y: auto;
    z-index: 2;
    
    background-color: #fff;
    transition: left 0.3s ease;
    padding: 0.5rem;
    border-left: 0.0625rem solid var(--border);
   
    height: 100%;
}

.sidebar.collapsed {
    width: 3.75rem;
}
.logo{
    padding: 0.5rem;
}

.nav-links {
    list-style-type: none;
    padding: 0;
}

.nav-links li {
    margin: 0;
    padding:  0.5rem;
    
}
.nav-links li a{
    display: flex;
    gap: 1rem;

    
}
.nav-links li:hover{
    background-color: var(--border2);
}
.active{
    color: var(--purple);
    background-color: var(--lightpurple);
    border-radius: 0.125rem;
}
.nav-links li a img{
    
}

.main-content {
    flex: 1;
    padding: 2.5rem 1.75rem;
}

header {
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    font-size: 1.375rem;
    line-height: 1.25rem;
}

.overview-cards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.25rem;
    flex-wrap: wrap;
    gap: 0.75rem;
}

.card {
    flex:1;
    background-color: #fff;
    padding: 1rem;
    flex: 1;
    border-radius: 0.125rem;
    transition: transform 0.3s;
    border: 0.0625rem solid var(--lightpurple);
}
.card>.title{
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 600;
    color: var(--darkgrey);
}
.card div{
    display: flex;
    gap: 0.25rem;
    align-items: center;

}
.card div p{
    font-weight: 600;
    font-size: 0.625rem;
    line-height: 0.75rem;
}
.card div span{
    color: var(--darkgrey1);
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 2rem;
}
.card:hover {
    transform: scale(1.05);
}

.graph{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    
}
.chart {
    flex: 1;
    max-width: 32rem;
    max-height:20rem;
}

 /* .carousel {
      
   position: relative;
    align-items: center;
    margin: 1.25rem 0;
    display: flex;
    flex-direction: column;
}  */
 select{
    outline: none;
 }
.carousel{
    flex: 1;
    height: 100%;
    width: 100%;
    position: relative;
}
.box{
    height: 100%;
    width: 100%;
}
.carousel-inner {
    overflow: hidden;
   bottom: 0.125rem;
   padding: 0.625rem;
    align-self: flex-end;
    justify-content: flex-end;
    align-self: baseline;
    position: absolute;
}

.carousel-inner p {
    min-width: 100%;
    transition: all 1s ease-in;
    color: #fff;
    
    font-size: 0.75rem;
   
}
.prev, .next {
    cursor: pointer;
   position: absolute;
   top: 50%;
    
    background-color: #fff;
    color: var(--darkgrey1);
    border: none;
    padding: 0.625rem;
    font-size: 0.75rem;
    border-radius: 55%;
}

.prev {
    left: 0.625rem;
}

.next {
    right: 0.625rem;
}
.flex{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.875rem;
}
.pad{
    padding: 0 1rem;
    border:0.0625rem solid var(--border2);
    border-radius: 0.125rem;
   
}
.pad:hover{
    background-color:var(--border2);
    cursor: pointer;
}
.pad img{
    cursor: pointer;
}
input{
    background: inherit;
    border: none;
    padding: 0.9rem;
    outline: none;
}
.table-head{
    display: flex;align-items: center;
    font-size: 0.875rem;
    font-weight: 16;
    background-color: var(--border);
    justify-content: space-between;
    padding: 0.5rem;
    margin-top: 0.5rem;
    border-radius: 0.125rem;
    flex-wrap: wrap;
}
.table-head p{
    flex: 1;

}
.table-head p:last-child{
    text-align: center;

}
.wrap{
    display: flex;
    align-items: center;gap: 6px;
    flex-wrap: wrap;
}
.wrap>:first-child{
    flex-wrap: wrap;
}
.data{
    transition: all ease-in-out 2s;
}
form button{
    border: none;
    background-color: inherit;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 0 0.3125rem;
    transition: transform 0.6s;
}
.row:hover{
    background-color: var(--border);
}
.row p{
    flex: 1;
    font-size: 0.875rem;
}
.row p:last-child{
    padding: 0.4rem;
    border-radius: 2.5rem;
    color: var(--purple);
    border: 0.0625rem solid var(--purple);
    background-color: var(--border2);
   text-align: center;
    font-size: 0.75rem;
    
}
.Completed{
    color: var(--green) !important;
    border:0.0625rem solid var(--green) !important;
    
}
.none{
    display: none;
}
.disappear>:last-child{
    display: none;
}
.disappear{
    width: fit-content;
   padding: 0.5rem;
}
.disappear img{
    width: 1.5625rem;
}
.modal {
    display: none;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    
}

.modal-content{
    background-color: #fefefe;
    margin: 5% auto;
    border: 0.0625rem solid #888;
    width: fit-content;
}
.modal-content>div{
    padding: 1.5rem;
}
.modalbottom{
    background-color: var(--border2);
    gap: 5rem;
    text-align: center;
    
}
.modalbottom>div{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.but{
    
}
.edit,.delete,.mark{
    padding: 0.5rem 1.125rem;
    border: none;
    border-radius: 0.125rem;
}
.edit{
    background-color: #fff;
    color: var(--darkgrey1);
    
}
.delete{
    background-color: var(--red);
    color: #fff;
}
.mark{
    background-color: var(--purple);
    color: #fff;
}
.flexx{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.name{
    font-size: 1.125rem;
    font-weight: 600;
    color: var(--darkgrey1);
}
.date{
    color: var(--darkgrey);
    font-size: 0.875rem;
}
.desc{
    color: var(--darkgrey);
}
.close {
    color: #aaa;
    float: right;
    font-size: 1.75rem;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.pagination{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
.pagination div{
    display: flex;
    align-items: center;
    gap: 0.6rem;
}
.pagination div p{
    cursor: pointer;
}

/* Dark Mode */
.dark-mode {
    background-color: #2C2F48;
    color: #ffffff;
}

.dark-mode .sidebar {
    background-color: #484554;
}

.dark-mode .card {
    background-color: #484554;
}
.dark-mode .wrap{
    background-color: #484554;
    padding: 0.1rem;
    border-radius: 2px;
}
.dark-mode .wrap div,
.dark-mode .wrap form{
    border: none;
}
.dark-mode .wrap>div:hover{
    color: var(--darkgrey1);
}
.dark-mode .data{
    background-color: #484554;
    border-radius: 3px;
}
.dark-mode .table-head{
    background-color: #6A6676;
    font-weight: bold;
    color: #fff;
}
.dark-mode .row:hover{
    background-color: #6A6676;
}
.activee{
    background-color: var(--purple);
    border-radius: 50%;
    padding: 0.4rem;
}
@media(max-width:1200px){
    .container{
        grid-template-columns: auto;
    }
    .query{
       
    }
    .sidebar{
       /* transform:translateX( -100%) ; */
        display:none;
    }
     .show{
        
        display: block !important;
        
        position: fixed;
        z-index: 2;
    }
    .main-content{
       overflow: hidden;
    }
    .none{
        display: block;
        cursor: pointer;
    }
    .modalbottom{
        flex-direction: column;
        gap: 0.1rem;
    }
   .modalbottom>div{
        flex-direction: column !important;
       gap: 0.1rem;
       width: 85%;
        
    }
    
    .edit,.delete,.mark{
        width: 100%;
    }
    .small{
        
    }
   
}

@media(max-width:900px){
    .graph{
        grid-template-columns: auto;
        gap: 0.5rem;
    }
    .carousel{
        height: 30rem;
    }
    
}
@media(max-width:500px){
    .wrap>:first-child>.pad{
        width: 80%;
       
        justify-content: center;
    }
    .row p:nth-child(2),.row p:nth-child(3){
        display: none;
    }
    .table-head p:nth-child(2),.table-head p:nth-child(3){
        display: none;
    }
   
}